header {

}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #000;
  color: #FFF;
  position: fixed;
  width: 100%;
  z-index: 3;
}
span.material-symbols-outlined {
  font-size: 4rem;
}
.nav-menu ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  display: none;
}
.nav-menu ul li a {
  position: relative;
  padding-bottom: .2rem;
  font-family: 'Roboto', sans-serif;
}
.nav-menu ul li a::after {
  content: " ";
  width: 0;
  height: 2px;
  background-color: var(--cinza);
  position: absolute;
  left: 0;
  bottom: 0;
}
.nav-menu ul li a:hover::after {
  width: 100%;
  transition: .3s ease-out;
}
.hidden {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  padding: 0rem;
  text-align: center;
  background-color: #0d0d0d;
  position: fixed;
  top: 0;
  width: 100%;
  height: 30rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 4;
}
.hidden ul {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: .5rem;
  width: 100%;
}
.hidden ul li {
  list-style: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  border-top: 1px solid black;
  /* width: 20rem; */
  width: 100%;
  padding: 1rem;
}
.hidden ul li a {
  color: rgba(253, 251, 251, 0.805);
}
.hidden span {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: red;
}
.svg-icons img {
  width: 5rem;
  margin-right: 1rem;
}
div.svg-icons img {
  background-color: var(--cor-clara);
  border-radius: 50%;
  padding: 1px;
}
div.svg-icons img:hover {
  padding: 3px;
  cursor: pointer;
  z-index: 2;
}
div.svg-icons img:active {
  background-color: #808080;
}
ul li a:active {
  color: #808080;
}
img.svg {
  width: 5rem;
  animation: rotation 1.2s;
}
